/****************************
    - Responsive styles -
****************************/
@media screen and (max-width:479px) {
	.about {
		overflow:auto;
	}
	
	.logo,
	.welcome, 
	.buttons,
	.social {
		text-align:center;
	}

	.welcome h2 {
		font-size:24px;
		line-height:24px;
	}

	.countdown-section {
		width:calc(48% - 20px);
	}
	
	.action-btn {
		padding-left:20px !important;
		padding-right:20px !important;
	}

	.col-xs-4 {
		width:100%;
	}

	.dash .digit {
		font-size:30px;
		height:40px;
		line-height:50px;
	}

	.dash:after {
		top:24px;
	}

	.hours_dash:after {
		display:none;
	}

	.dash .dash_title {
		font-size:11px;
	}

	.form-control {
		width:240px;
	}

	.info span {
		font-size:40px;
	}
}

@media screen and (min-width:480px) and (max-width:639px) {
	.about {
		overflow:auto;
	}
	
	.welcome h2 {
		font-size:30px;
		line-height:30px;
	}

	.col-xs-4 {
		width:100%;
	}

	.dash .digit {
		font-size:30px;
		height:40px;
		line-height:50px;
	}

	.dash:after {
		top:24px;
	}

	.dash .dash_title {
		font-size:11px;
	}

	.form-group {
		margin-bottom:0;
	}

	.form-control {
		width:360px;
	}

	.info span {
		font-size:40px;
	}
}

@media screen and (min-width:640px) and (max-width:767px) {
	.about {
		overflow:auto;
	}
	
	.welcome h2 {
		font-size:32px;
		line-height:32px;
	}
	
	.logo img {
		max-height:60px;
	}
	
	.countdown {
		display:none;
	}

	.dash .digit {
		font-size:30px;
		height:40px;
		line-height:50px;
	}

	.dash:after {
		top:24px;
	}

	.dash .dash_title {
		font-size:11px;
	}

	.form-group {
		margin-bottom:0;
	}

	.form-control {
		width:360px;
	}

	.info span {
		font-size:40px;
	}
}

@media screen and (max-width:767px) {
	.contact h5 {
		margin-top:40px;
	}
	
	.contact .row .col-lg-4:first-child h5 {
		margin-top:0;
	}
	
	.dialog .dialog__content .dialog-inner {
		padding:30px 20px;
	}
	
	.dialog .dialog__content .dialog-inner h4 {
		margin-bottom:15px;
		font-size:20px;
	}
	
	.dialog .dialog__content .dialog-inner p {
		font-size:12px;
	}
	
	.dialog .dialog__content .dialog-inner #subscribe #notifyMe {
		margin-top:1em;
	}
	
	.dialog .dialog__content .dialog-inner #subscribe #notifyMe .form-group button.submit {
		font-size:80%;
		line-height:1;
	}
	
	.dialog .dialog__content .dialog-inner #subscribe .block-message {
		padding:8px;
	}
	
	.dialog .dialog__content .dialog-inner #subscribe p.notify-valid {
		font-size:12px;
	}
}

@media screen and (max-width:768px) {
	.countdown-row {
		text-align:center;
	}

	.is-countdown {
		margin:0 auto;
	}

	.countdown {
		margin-left:auto !important;
	}

	.modal-dialog {
		width:100%;
		margin:0;
	}
	
	.google-map i.fa-map-marker  {
		margin-left:-5px;
	}
}

@media screen and (min-width:768px) and (max-width:1024px) {
	.about-us {
		overflow:auto;
	}
	
	.welcome h2 {
		font-size:48px;
		line-height:48px;
	}
}

@media screen and (min-width:768px) {
	.overlay {
		overflow:hidden;
	}
}

@media screen and (min-width:769px) {
	.logo, .social, .welcome, .countdown, .buttons {
		padding:0 100px;
	}
}
