/* ==============================================================

Project:	Arnica - Creative Coming Soon Template
Info:		https://themeforest.net/item/arnica-creative-coming-soon-template/23028340
Version:	1.0
Author:		AthenaStudio
Profile:	https://themeforest.net/user/athenastudio

-----------------------------------------------------------------
					*** TABLE OF CONTENTS ***
-----------------------------------------------------------------

	1.	General
	2.	Page loader
	3.	Background
	4.	Logo
	5.	Social
	6.	Page content
	7.	Welcome
	8.	Countdown
	9.	Subscribe
	10.	Buttons
	11.	Subscribe
	12.	Information navigation
	13.	About
		
=============================================================*/

/*********************
    - 1. General -
*********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
	background:transparent;
	border:0;
	margin:0;
	padding:0;
	vertical-align:baseline;
}

* {
	margin:0;
	padding:0;
}

html {
	height:100%;
	width:100%;
}

body {
	color:#fff;
	font-family:"Poppins", sans-serif;
	font-size:16px;
	line-height:1.5em;
	font-weight:400;
	position:relative;
	background:#000;
	width:100%;
	height:100%;
	background-color:#000;
}

a, a > * {
	outline:none;
	cursor:pointer;
	text-decoration:none;
}

a:focus, a:hover {
	outline:none;
	color:#fff;
	text-decoration:none;
}

::selection {
	color:#1a1a1a;
	text-shadow:none;
	background-color:#fff;
}

::-webkit-selection {
 	color:#1a1a1a;
 	text-shadow:none;
 	background-color:#fff;
}

::-moz-selection {
 	color:#1a1a1a;
 	text-shadow:none;
 	background-color:#fff;
}

/*************************
    - 2. Page loader -
*************************/
.page-loader {
	position:fixed;
	display:block;
	width:100%;
	height:100%;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index:40;
	background:#fff;
}

.page-loader .progress {
	position:absolute;
	margin:-15em 0 0 -15em;
	font-size:2px;
	top:50vh;
	left:50vw;
	background:#fff;
	border-top:0.8em solid rgba(35, 35, 35, 0.2);
	border-right:0.8em solid rgba(35, 35, 35, 0.2);
	border-bottom:0.8em solid rgba(35, 35, 35, 0.2);
	border-left:0.8em solid #000;
	-webkit-transform:translateZ(0);
	   -moz-transform:translateZ(0);
			transform:translateZ(0);
	-webkit-animation:preloader 0.7s infinite linear;
	   -moz-animation:preloader 0.7s infinite linear;
			animation:preloader 0.7s infinite linear;
}

.page-loader .progress,
.page-loader .progress:after {
	border-radius:50%;
	width:30em;
	height:30em;
}

@keyframes preloader {
 	0% {
 		-webkit-transform:rotate(0deg);
 		   -moz-transform:rotate(0deg);
 				transform:rotate(0deg);
	}
	
 	100% {
 		-webkit-transform:rotate(360deg);
 		   -moz-transform:rotate(360deg);
 				transform:rotate(360deg);
	}
}

/************************
    - 3. Background -
************************/
.bg {
	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  	overflow:hidden;
}

.modal-effect {
	-webkit-transition:all 0.2s;
       -moz-transition:all 0.2s;
    		transition:all 0.2s;
}

.modal-opened {
	-webkit-transform:translateX(-7vw);
  	   -moz-transform:translateX(-7vw);
  			transform:translateX(-7vw);
}

/******************
    - 4. Logo -
******************/
.logo {
	position:absolute;
	top:20px;
	left:0;
	width:100%;
}

/********************
    - 5. Social -
********************/
.social {
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;
}

.social ul {
	list-style:none;
	margin:0;
	padding:0;
}

.social ul li {
	display:inline-block;
	margin:0 30px 0 0;
}

.social ul li:last-child {
	margin-right:0;
}

.social ul li a {
	display:block;
	overflow:hidden;
	padding:0;
	color:#fff;
	-webkit-transition:all .5s;
	   -moz-transition:all .5s;
			transition:all .5s;
}

.social ul li i {
	position:relative;
	display:block;
	font-size:18px;
	line-height:20px;	
	cursor:pointer;
	overflow:hidden;
	text-align:center;
}

/**************************
    - 6. Page content -
**************************/
.page {
	position:fixed;
	overflow-x:hidden;
	left:0;
  	top:0;
  	z-index:2;
  	width:100%;
  	height:100%;
}

/* Overlay */
.page:before {
	content:'';
  	position:absolute;
  	top:0;
  	left:0;
  	z-index:0;
  	width:100%;
  	height:100%;
  	background:rgba(35, 52, 105, 0.5);
}

/* Table */
.tbl {
	display:table;
	width:100%;
	height:100%;
	vertical-align:middle;
}

.tbl-cell {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
}

.tbl-top {
	display:table;
	vertical-align:top;
	width:100%;
	height:100%;
}

/*********************
    - 7. Welcome -
*********************/
.welcome {
	text-align:left;
}

.welcome h2 {
	font-size:64px;
	line-height:64px;
	font-weight:300;
	color:#fff;
	text-transform:uppercase;	
	letter-spacing:-1px;
	margin-bottom:5px;
}

.welcome h2 strong,
.welcome h2 b {
	font-weight:700;
}

.welcome p {
	color:#fff;
	margin-bottom:20px;
}

/***********************
    - 8. Countdown -
***********************/
.countdown {
	text-align:center;
	margin-bottom:27px;
}

.is-countdown {
	max-width:800px;
	margin:0;
	width:100%;
}

.countdown-row {
	display:block;
	text-align:left;
}

.countdown-section {
	position:relative;
	display:inline-block;
	width:20%;
	text-align:center;
}

.countdown-amount {
	position:relative;
	display:block;
	color:#fff;
	font-size:56px;		
	height:56px;
	line-height:56px;
	font-weight:600;	
	text-align:center;
	vertical-align:middle;
}

.countdown-period {
	display:block;
	font-size:13px;
	text-align:center;
	text-transform:uppercase;
}

/***********************
    - 9. Subscribe -
***********************/
.subscribe form {
	position:relative;
	display:inline-block;
	float:left;
}

.form-control {
	width:320px;
	color:#fff;
	background:transparent;
	border:1px solid rgba(255, 255, 255, 0.3);
	border-radius:0px;
	outline:0;
	height:41px;
	padding:6px 50px 6px 12px;
	box-shadow:none;	
	-webkit-transition:all .5s;
	   -moz-transition:all .5s;
			transition:all .5s;
}

.form-control:focus {
	box-shadow:none;
	outline:0;
}

label.error {
	display:block;
	font-size:14px;
	font-weight:400;
	padding:7px 0;
	color:#fff;
	background-color:#E34834;
	text-align:center;
}

.send-btn {
	background:none;
	cursor:pointer;
	color:#fff;
	font-size:15px;
	font-weight:600;
	border:0;
	position:absolute;
	top:9px;
	right:15px;
	-webkit-transition:all .5s;
	   -moz-transition:all .5s;
			transition:all .5s;
}

.alert {
	font-size:16px;
	line-height:15px;
	padding:20px;
}

.alert-success i {
	color:#A94442;
	cursor:pointer;
}

/**********************
    - 10. Buttons -
**********************/
.action-btn {
	position:relative;
	display:inline-block;
	color:#fff;
	padding:15px 30px;
	font-size:16px;
	line-height:16px;
	font-weight:600;
	border:0;
	cursor:pointer;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
	-webkit-transition:all .5s;
	   -moz-transition:all .5s;
			transition:all .5s;
}

.action-btn.white {
	background:transparent;
	padding:13px 28px;
	margin-right:15px;
	border:1px solid rgba(255, 255, 255, 0.4);
}

.action-btn:hover {
	background:#fff;
}

.action-btn > i {
	margin-right:10px;
}

/************************
    - 11. Subscribe -
************************/
.dialog, .dialog__overlay {
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.dialog {
	position:fixed;
	z-index:999;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	   -ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	   -ms-flex-align:center;
	align-items:center;
	pointer-events:none;
}

.dialog__overlay {
	position:absolute;
	z-index:1;
	background:rgba(31, 34, 46, 0.9);
	opacity:0;
	-webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
    		transition:all 0.3s;
}

.dialog--open .dialog__overlay {
	opacity:1;
	pointer-events:auto;
}

.dialog__content {
	width:50%;
	max-width:500px;
	min-width:290px;
	padding:0;
	text-align:center;
	position:relative;
	z-index:5;
	opacity:0;
	overflow:hidden;
	background:url(../images/bg/subscribe.jpg) center;
	background-size:cover;
	border:10px solid #2b2d35;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
	-webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
    		transition:all 0.3s;
}

.dialog__content:before {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	border:1px solid #000;	
	background:rgba(32, 35, 45, 0.8);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
}

.dialog--open .dialog__content {
	pointer-events:auto;
}

.dialog .close-newsletter {
	position:absolute;
	top:0;
	right:0;
	border:none;
	background:transparent;
	width:40px;
	height:40px;
	line-height:35px;
	color:#fff;
	font-size:20px;
	opacity:0.5;
	outline:none;
	cursor:pointer;
	-webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
    		transition:all 0.3s;
}

.dialog .close-newsletter:hover {
	opacity:1;
}

.dialog .dialog-inner {
	padding:90px 70px;
	overflow:hidden;
}

.dialog .dialog-inner:before {
	content:" ";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}

.dialog .dialog-inner h4 {
	color:#fff;
	font-size:40px;
	line-height:40px;
	font-weight:700;
	margin-bottom:10px;
}

.dialog .dialog-inner p {
	color:#fff;
}

#subscribe #notifyMe {
	max-width:450px;
	margin:auto;
	margin-top:2em;
}

#subscribe #notifyMe ::-webkit-input-placeholder {
 	color:#747c83 !important;
}

#subscribe #notifyMe :-ms-input-placeholder {
 	color:#747c83 !important;
}

#subscribe #notifyMe ::-ms-input-placeholder {
 	color:#747c83 !important;
}

#subscribe #notifyMe ::placeholder {
 	color:#747c83 !important;
}

#subscribe #notifyMe .form-group {
	margin-bottom:1em;
}

#subscribe #notifyMe .form-group i {
	color:#757a86;
	position:absolute;
	text-align:center;
	top:15px;
	left:15px;
}

#subscribe #notifyMe .opacity-0 {
	opacity:0 !important;
	visibility:hidden !important;
}

#subscribe #notifyMe .form-group .form-control {
	background:#fff;
	border:none;
	height:50px;
	outline:medium none;
	padding:0 1em;
	width:100%;
	margin:auto;
	color:#000;
	-webkit-box-shadow:none;
			box-shadow:none;
	-webkit-transition:all 0.3s;
	   -moz-transition:all 0.3s; 
			transition:all 0.3s;
}

#subscribe #notifyMe .form-group .form-control:hover, 
#subscribe #notifyMe .form-group .form-control:focus {
	-webkit-box-shadow:none;
			box-shadow:none;
}

#subscribe #notifyMe .form-group input {
	text-align:center;
}

#subscribe #notifyMe .form-group button.submit {
	float:none;
	margin:0;
}

#subscribe .block-message {
	min-height:50px;
	position:absolute;
	bottom:-100px;
	width:100%;
	left:0;
	padding:15px;
	background:transparent;
	-webkit-transition:all 0.3s cubic-bezier(0, 0, 0.58, 1);
			transition:all 0.3s cubic-bezier(0, 0, 0.58, 1);
}

#subscribe .block-message.show-block-error {
	bottom:0;
	background:#ff1d4d;
}

#subscribe .block-message.show-block-valid {
	bottom:0;
}

#subscribe p.notify-valid {
	color:#fff;
	text-transform:none;
	font-size:16px;
	letter-spacing:0;
	font-weight:600;
}

#subscribe input[type='text'],
#subscribe input[type='email'],
#subscribe input[type='number'] {
	width:100%;
	color:#444;
	background:#fafafa;
	border:1px solid #ddd;
	padding:14px 18px;
	margin-bottom:20px !important;
	font-size:14px;
	line-height:1;
	outline:none;
	text-align: left !important;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
    -webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
    		transition:all 0.3s;
}

#subscribe input[type='text']:focus,
#subscribe input[type='email']:focus,
#subscribe input[type='number']:focus {
	background:#fff;
}

.dialog__overlay {
	-webkit-transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
			transition:all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dialog.dialog--open .dialog__content, .dialog.dialog--close .dialog__content {
	-webkit-animation-duration:0.4s;
			animation-duration:0.4s;
	-webkit-animation-fill-mode:forwards;
			animation-fill-mode:forwards;
}

.dialog.dialog--open .dialog__content {
	-webkit-animation-name:anim-open;
			animation-name:anim-open;
}

.dialog.dialog--close .dialog__content {
	-webkit-animation-name:anim-close;
			animation-name:anim-close;
}

@keyframes anim-open {
 	0% {
 		opacity:0;
 		-webkit-transform:translate3d(0, 50px, 0);
 				transform:translate3d(0, 50px, 0);
	}

	100% {
		opacity:1;
 		-webkit-transform:translate3d(0, 0, 0);
 				transform:translate3d(0, 0, 0);
	}
}

@keyframes anim-close {
 	0% {
 		opacity:1;
 		-webkit-transform:translate3d(0, 0, 0);
 				transform:translate3d(0, 0, 0);
	}

 	100% {
 		opacity:0;
 		-webkit-transform:translate3d(0, 50px, 0);
 				transform:translate3d(0, 50px, 0);
	}
}

/*************************************
    - 12. Information navigation -
*************************************/
.info-nav {
	position:fixed;
	top:20px;
	right:20px;
	width:20px;
	height:20px;
	z-index:10000;
	background:0 0;
	-webkit-transition:all .5s;
	   -moz-transition:all .5s;
			transition:all .5s;
}

.info-nav span {
	position:absolute;
	display:inline-block;
	top:50%;
	left:50%;
	bottom:auto;
	right:auto;
	width:18px;
	height:2px;
	background-color:#fff;
	-webkit-transform:translateX(-50%) translateY(-50%);
	   -moz-transform:translateX(-50%) translateY(-50%);
			transform:translateX(-50%) translateY(-50%);
}

.info-nav span:before, 
.info-nav span:after {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	background-color:#fff;
	right:0;
	-webkit-backface-visibility:hidden;
			backface-visibility:hidden;
	-webkit-transform:translateZ(0);
	   -moz-transform:translateZ(0);
			transform:translateZ(0);
	-webkit-transition:-webkit-transform .3s, background .3s;
	   -moz-transition:-moz-transform .3s, background .3s;
			transition:transform .3s, background .3s;
}

.info-nav span:before {
	-webkit-transform:translateY(-6px) rotate(0deg);
	   -moz-transform:translateY(-6px) rotate(0deg);
			transform:translateY(-6px) rotate(0deg);
}

.info-nav span:after {
	-webkit-transform:translateY(6px) rotate(0deg);
	   -moz-transform:translateY(6px) rotate(0deg);
			transform:translateY(6px) rotate(0deg);
}

/* Hover */
.info-nav:hover span:before {
	-webkit-transform:translateY(-8px) rotate(0deg);
	   -moz-transform:translateY(-8px) rotate(0deg);
			transform:translateY(-8px) rotate(0deg);
}

.info-nav:hover span:after {
	-webkit-transform:translateY(8px) rotate(0deg);
	   -moz-transform:translateY(8px) rotate(0deg);
			transform:translateY(8px) rotate(0deg);
}

/* Active */
.info-nav.active span {
	background-color:transparent;
}
 
.info-nav.active span:before, 
.info-nav.active span:after {
	background-color:#666;
}

.info-nav.active:hover span:before, 
.info-nav.active:hover span:after {
	background-color:#000;
}

.info-nav.active span:before {
	-webkit-transform:translateY(0) rotate(45deg);
	   -moz-transform:translateY(0) rotate(45deg);
			transform:translateY(0) rotate(45deg);
}

.info-nav.active span:after {
	-webkit-transform:translateY(0) rotate(-45deg);
	   -moz-transform:translateY(0) rotate(-45deg);
			transform:translateY(0) rotate(-45deg);
}

/********************
    - 13. About -
********************/
.about {
	overflow:hidden;
	width:100%;
	height:100%;
}

.modal.fade .modal-dialog {
	-webkit-transition:-webkit-transform 600ms ease-out;
	   -moz-transition:-moz-transform 600ms ease-out;
			transition:transform 600ms ease-out;
	-webkit-transform:translate(100%, 0px);
	   -moz-transform:translate(100%, 0px);
		-ms-transform:translate(100%, 0px);
			transform:translate(100%, 0px);
}

.modal.in .modal-dialog {
	-webkit-transform:translate(0, 0px);
	   -moz-transform:translate(0, 0px);
		-ms-transform:translate(0, 0px);
			transform:translate(0, 0px);
}

.modal-dialog {
	margin-top:0;
	margin-bottom:0;
	margin-right:0;
	height:100%;
	background-color:#fff;
	text-align:center;
}

.modal-content {
	background-color:#fff;
	box-shadow:none;
	border:0;
}

.modal-body {
	padding:0 !important;	
}

.modal-body p {
	font-size:15px;
	line-height:23px;
	padding:0;
}

/* Section title */
.section-title h3 {
	clear:both;
	font-size:36px;
	line-height:36px;
	font-weight:700;
	color:#282828;
	letter-spacing:-1px;
	margin-bottom:20px;
}

.section-title hr {
	width:40px;
	margin:0 auto 40px;
	border-color:#000;
  	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
  			transition:all .3s;
}

.section-title:hover hr {
  	width:60px;
}

/* Custom scrollbar */
.mCSB_scrollTools {
  	position:absolute;
  	width:5px;
  	height:auto;
  	left:auto;
  	top:0;
  	right:0;
  	bottom:0;
  	z-index:25;
  	-webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
    		transition:all 0.3s;
}

.mCSB_scrollTools .mCSB_draggerRail {
  	width:5px;
  	height:100%;
  	margin:0;
	background-color:#757a86;
  	opacity:0.4;
  	-webkit-border-radius:0;
  	   -moz-border-radius:0;
  			border-radius:0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  	position:relative;
  	width:5px;
  	height:100%;
  	margin:0 auto;
  	text-align:center;
  	-webkit-border-radius:0;
  	   -moz-border-radius:0;
  			border-radius:0;
}

.mCSB_scrollTools-left {
  	right:0 !important;
}

/* About */
.about-dsc {
	clear:both;
	padding:50px;
	color:#444;
}
.about-dsc p {
	margin-bottom: 15px;
}
.about-dsc p:last-child {
	margin-bottom: 0;
}

/* Contact */
.contact {
	clear:both;
	padding:50px;
	background-color:#fafafa;
}

.contact h5 {
	font-size:30px;
	line-height:30px;
	margin-bottom:15px;
}

.contact p {
	margin-bottom:0;
	color:#444;
}

.contact p a {
	color:#444;
	-webkit-transition:all 1s;
	   -moz-transition:all 1s;
			transition:all 1s;
}

/* Google maps */
#google-container {
  	position:relative;
  	width:100%;
  	height:350px;
 	background-color:#e7eaf0;
}

.google-map {
  	position:relative;
}

#zoom-in, #zoom-out {
  	height:32px;
  	width:32px;
  	cursor:pointer;
  	margin-left:40px;
  	background-repeat:no-repeat;
  	background-size:32px 64px;
  	background-image:url("../images/map-controller.svg");    
  	-webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
    		transition:all 0.3s;
}

#zoom-in {
  	background-position:50% 0;
  	margin-top:100px;
  	margin-bottom:1px;
}

#zoom-out {
  	background-position:50% -32px;
}

/* Copyright */
.copyright {
	clear:both;
	padding:30px;
	background:#20232d;
	color:#fff;
	font-size:12px;
	line-height:12px;
	letter-spacing:1px;
	text-transform:uppercase;
	text-align:center;
}

.mCSB_inside > .mCSB_container{margin-right: 0;}




