a, 
.welcome h2 strong, 
.action-btn:hover,
.contact h5 i,
.contact p a:hover,
.social ul li a:hover {
	color:#0fe0ba;
}

.action-btn {
	background:#0fe0ba;
}

.social-media ul li i:hover,
#zoom-in:hover, #zoom-out:hover,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color:#0fe0ba;
}

#zoom-in, #zoom-out {
  	background-color:rgba(15, 224, 186, 0.8);
}

.dialog__content:before {
	border-color:#0fe0ba;
}

.page-loader .progress {
	border-left-color:#0fe0ba;
}
