.block-settings-wrapper {
	position:fixed;
	left:-180px;
	top:20%;
	width:180px;	
	z-index:999999999;
	-ms-transition:left .4s;
	-moz-transition:left .4s;
	-webkit-transition:left .4s;
	transition:left .4s;	
}

.block-settings-wrapper section {
	display:block;
	height:39px;
	background-color:#fff;
}

.block-settings-wrapper section span {
	display:block;
	float:left;
	width:23px;
	height:23px;
	margin:8px 3px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	cursor:pointer;	
}

.block-settings-wrapper section span:first-child {
	margin-left:6px;
}

.block-settings-wrapper section span.green {
	background-color:#0fe0ba;	
}

.block-settings-wrapper section span.blue {
	background-color:#1fb4da;	
}

.block-settings-wrapper section span.orange {
	background-color:#ff5744;	
}

.block-settings-wrapper section span.purple {
	background-color:#ca3378;	
}

.block-settings-wrapper section span.yellow {
	background-color:#ffbe00;	
}

.block-settings-wrapper section span.grey {
	background-color:#656d78;	
}

.block-settings-wrapper #settings_close {
	width:39px;
	height:39px;
	display:block;
	position:absolute;
	right:-39px;
	top:0px;	
	background-repeat:no-repeat;
	background-image:url(../images/icon_panel.png);
	background-color:#1f2528;	
	-ms-transition:background-color .2s;
	-moz-transition:background-color .2s;
	-webkit-transition:background-color .2s;
	transition:background-color .2s;	
	-moz-border-radius:0px 2px 2px 0px;
	-webkit-border-radius:0px 2px 2px 0px;
	border-radius:0px 2px 2px 0px;	
	text-indent:-9000px;
}
.block-settings-wrapper #settings_close:hover {
	background-color:#434343;
}

.opened-settings .block-settings-wrapper {
	left:0px;
}

@media (max-width:767px) {
	.block-settings-wrapper {
		display:none;
	}
}
